@charset "utf-8";
/* CSS Document */
.BordRad{
	margin-top:2%;  border:#09F; border-style:solid; border-radius: 50px;
}
.contenitore{
	width:70%;
	margin-left:15%;
	}
.contimmage{
	max-height:150px;
	
	}
.Float80L{
	 width:80%;
	 float:left;
	}
.Float10L{width:10%; float:left;}

.CenterLogo{
	width:50%; height:25%; margin-left:25%; margin-right:25%;
	alignment-adjust:central;
	}
#DivIco{
	word-wrap: break-word;
	font-size:0.90em;
	margin:2%;
	width:20%;	
	border:#09F; border-style:solid; border-radius: 10px;float:left;
	}
.ico{
	margin:0%;
	width:30%;
	float:left;
	}
.Dico{
	margin:0%;
	width:70%;
	float:left;
	}
@media only screen and (max-width : 640px) {
	#DivIco{
	word-wrap: break-word;
	font-size:0.75em;
	line-height:1.2em;
	margin:2%;
	width:40%;	
	border:#09F; border-style:solid; border-radius: 10px;float:left;
	}
	
}