

/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
body {
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	color: #555;
	background-color: #FFFFFF;
	overflow: auto;

}

a {

	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;

}

a:hover {

	color: #444;

}

img {

	width: 100%;


}

header {

	background: #fff;
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #4C9CF1;
	z-index:100;

}
#linktesto{
	color:#333;
	text-decoration: none;
	font-size: 1.10em;
	font-weight:normal;
	}
#logo{
	margin: 10px;
	float: left;
	display: block;
	width: 50px;
	height: 56px;
	background: url(../img/Logosalvadanaio.png) no-repeat center;
}



nav {

	float:right;
	margin-top:20px;

}


#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../img/menu-icon.png) center;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

ul {

	list-style: none;

}
.ulil{

	list-style:decimal;}

li {

	display: inline-block;
	float: left;
	padding: 10px;

}

.current {
	color: #2262AD;

}

section {

	margin:66px auto 66px 30px ;
	max-width: 980px;
	height:100%;
	position: relative;


}


h1 {

	font-size: 2em;
	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0 ;

}
h2 {

	font-size: 1em;
	color: #2262AD;
	line-height: 1.25em;
	margin: 0px 0 30px 0 ;

}
h3 {

	font-size: 1.50em;
	color: #2262AD;
	line-height: 0.85em;
	margin: 25px 0  0 0;

}
hr
{ border-top: 3px solid #09F;}

p {

	line-height: 1.45em;
	margin-bottom: 20px;

}


/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {


	header {

		position:fixed;



	}

	#menu-icon {

		display:inline-block;



	}

	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
}
