{% load staticfiles %}
<html>
	<head>
		<title>toor11</title>
		<meta name="author" content="Daniele Internauta">
	<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
<link rel='stylesheet' href='{% static "css/main.css" %}'/>
<link rel='stylesheet' href='{% static "css/articoli.css" %}'/>
	</head>
	<body>
	<header>
		<a href='{% url "home" %}' id="logo"></a>
		<nav>
			<a href="#" id="menu-icon"></a>
			<ul>
				<li><a href='{% url "home" %}'>Home</a></li>
				<li><a href='{% url "wallet" %}'>Wallet</a></li>
				<li><a href='{% url "faucet" %}'>Faucet</a></li>
				<li><a href=''>Radio</a></li>
				<li><a href=''>Social</a></li>
				<li><a href=''>Referral</a></li>
			</ul>
		</nav>
		</header>

<section>
	{% block content %}
	{% endblock %}

	{% block two %}
	{% endblock %}
</section>


	</body>
</html>
