{% extends 'base.html' %}

    {% block content %}
    <h1>Il Salvadanaio delle Crypto</h1>
      <p>Guadagnare cryptocurrency ( Bitcoin,Litecoin,Doge,Ethereum, ecc ecc) <strong>gratuitamente</strong> è la mission di questo sito. Infatti troverai i migliori metodi testati da anni da milioni di utenti che permettono di guadagnare con delle semplici azioni.</p>
      <p>Il requisito principale e avere la concezione di salvadanaio , di risparmio , come una formichina che mette via una briciola alla volta , creando una propria famiglia di formichine che quotidianamente e costantemente accumulano briciole riempiendo i loro formicai (salvadanai).</p>
      <p>Infatti il metodo si basa sulla registrazione in vari siti gratuiti , dove si dovrà fare una azione quotidiana che puo essere da scrivere un post ( istruzioni nella sezione social) , risolvere un captcha (sezione faucet) , ascoltare la radio (sezione radio) e vari . E successivamente invitare persone nei siti in cui ci siamo registrati e invitarle a usufruire dei guadagni (sponsorizzazione) </p>
      <p>Il ponto di forza  che lo distingue da tutti gli altri metodi gratuiti è che se oggi ho guadagnato uno , domani questo uno si può trasformare in 100, come sta succedendo dal 2009 (nascita di Bitcoin) a oggi.
        Oltretutto ci dà la possibilità di cominciare a maneggiare le monete del futuro .
      </p>
      <p>Per cominciare avremo bisogno di un portafoglio elettronico &quot;Wallet (stringa alfanumerica)&quot; e un Exchange un ente terzo che scambierà le nostre crypto in Euro (FIAT) e ci permetterà di ritirare nel nostro conto bancario o carta prepagata i nostri guadagni.</p>
      <p> Le istruzioni le troverete nella sezione Wallet . Dopo di che in ogni sezione avrete le istruzioni necessarie , con anche dei video dimostrativi.</p>
    {% endblock %}

	</body>
</html>
