{% extends 'base.html'%}
{% load staticfiles %}


{% block content %}
<h1 align="center">Guida e orientamento Exchange e Wallet</h1>

<p>Prima di tutto vorrei specificare che un Exchange è un ente terzo che NON ci permette di avere un Wallet , ma ci permette di avere un indirizzo del LORO wallet a disposizione per le nostre transazioni . Quindi noi finché avremo le crypto o euro su un Exchange non saremo in possesso materialmente dei nostri averi.
<br>
E come avere i soldi su paypal che finchè non li ritiriamo non siamo in possesso dei soldi ma di una promessa di pagherò,  da parte di paypal.
<br>
Quindi un Exchange lo dobbiamo vedere come un mezzo transitorio temporaneo che ci permette di scambiare le crypto in euro e viceversa. Mentre un Wallet è un software o hardware, compatibile per varie piattaforme come pc o cell , che ci permette di crearci un nostro portafoglio elettronico di proprietà il quale conservare , inviare o ricevere le nostre crypto.<br>
Di Exchange ne esistono di svariata natura , come anche Wallet di proprietà. Nel mio sito li ho suddivisi per sezioni partendo dai più semplici e immediati come Coinbase e Specrtocoin , indispensabili per cambiare le crypto in Euro , arrivando a Exchange usati principalmente per fare trading ,ma utili anche a chi guadagna crypto di svariato genere . Per poi finire con i Wallet Software e Hardware adatto a chi vuole approfondire l'argomento e tenersi le proprie crypto al sicuro nei propri dispositivi. </p>
<br>

<h1 align="center">Exchange Euro-BTC</h1>
<br>
<h2 align="center">Cambiare cryptovaluta in Euro e viceversa</h2>
<div class="BordRad">
<div style=" margin:5%;">
-<a target="_blank" id="linktesto" href="http://bit.ly/2k0KhSV" title="Registrazione coinbase">Coinbase ci permette di  depositare e vendere BTC LTC ETH BCH in Euro o viceversa tramite:</a><br>
  <div class="Float80L">
  <p>
  Carta di debito VISA MASTERCARD (NO POSTEPAY) con fee prelievo e versamento del 3,99%.<br>
  Bonifico bancario (PostePayEvolution, compatibile) fee prelievo 0,15% , versamento 0%.<br>
  Per ogni compra vendita 1,49%.<br>
  <a target="_blank" id="linktesto" href="http://bit.ly/2k0KhSV" title="Registrazione coinbase">Per chi si registra con il link referral in OMAGGIO 10$
  </a> <br><em>Solo ed Esclusivamente se ci si registra con un link referral</em>
  </p>
  </div>
  <div class="Float10L"><a target="_blank" id="referrallink" href="http://bit.ly/2k0KhSV" title="Registrazione coinbase">
    <img src='{% static "img/reg.png" %}' alt="coinbase"></a></div>
  <div style="clear:left;"></div>

<div style=" margin-right:5%; margin-top:2%;  border:#F00; border-style:solid; border-radius: 50px;"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="5">
<tr>
<td align="center" style="color:#FFF; font-size:24px">Video guida</td>
</tr>
<tr>
<td align="center"><a target="_blank" href="https://www.youtube.com/channel/UCMIXzw5fq-w_dL3ARvy5Lew"><div  align="center" style="width:20%;">
  <img  src='{% static "img/Youtubelogo.png" %}'  /></div></a></td>
</tr>
<tr>
<td align="center"><iframe  width="75%" height="315" src="https://www.youtube.com/embed/6dajAMFP9Fc" frameborder="0" allowfullscreen ></iframe></td>
</tr>

</table>

</div>

</div>


<div style=" margin:5% 5% 5% 5%; padding:20px;  border:#09F; border-style:solid; border-radius: 50px;">

<p>-<a target="_blank" id="linktesto" href="http://bit.ly/2jhNyvg" title="Registrazione spectrocoin">SpectroCoin ci permette di scambiare BTC DASH XEM ETH XEM BNK </a>
<div class="Float80L">
carta di debito VISA MASTERCAD solo versamento con fee 5,50%.<br>
Bonifico bancario fee prelievo 1€ , versamento 0%.<br>
In piu ci dà il 10% sulle transazioni dei referral che invitiamo.<br>
Per ulteriori metodi di pagamento fate riferimento al sito.<br>.
</div>
      <div  class="Float10L"><a target="_blank" id="linktesto" href="http://bit.ly/2jhNyvg" title="Registrazione spectrocoin">
        <img src='{% static "img/reg.png" %}' alt="coinbase"></a></div>
  <div style="clear:left;"></div>


</div>
</p>

</div>


<h1 align="center">Exchange da trader</h1>
<h2 align="center"> Exchange utili nello scambio di tutte le cryptvalute</h2>
<br>
<div class="BordRad">

<div style="margin:5%;">
<div class="CenterLogo">
<img alt="" src="https://www.binance.com/resources/img/logo-en.svg">
</div>
<div class="Float80L">
E' un exchange che permette di scambiare piu di cento crypto con ben cinque valute diverse.
Una precisazione và fatta su BNB che è la crypto di binance stessa e che permette di
fare transazioni al minimo delle fee<br>- Crypto di scambio: BTC ETH USDT BNB<br>
piano referral 20% sulle transazioni<br>
fee da 0,05 a 0,10%. <br>
</div>
<div  class="Float10L">
<a target="_blank" id="linktesto" href="https://www.binance.com/?ref=11225673" title="Registrazione binance">
<img src='{% static "img/reg.png" %}' alt="binance">
</a>
</div>
  <div style="clear:left;"></div>
</div>
<hr>
  <div style="margin:5%;">
      <div class="CenterLogo" style="width:50%; ">
  <a target="_blank" id="linktesto" href="http://bit.ly/2sPstjO" title="Registrazione cryptopia">
  <img src='{% static "img/cryptopia.png" %}' alt="cryptopia">
  </a>
  </div>
  <div class="Float80L">
   Più di 100 cryptocurrency da scambiare<br>
   Piano referral 10% sulle transazioni<br>
   Valute di scambio BTC DOGE LTC USDT NZTD<br>
   Market interno dove comprare o vendere con le crypto<br>
   Fee 0,20%.<br>
  </div>
  <div  class="Float10L">
  <a target="_blank" id="linktesto" href="http://bit.ly/2sPstjO" title="Registrazione cryptopia">
  <img src='{% static "img/reg.png" %}' alt="cryptopia">
  </a>
  </div>
  <div style="clear:left;"></div>
  </div>
<hr>
  <div style="margin:5%;">
      <div class="CenterLogo">
          <a target="_blank" id="linktesto" href="https://bittrex.com/" title="Registrazione Bittrex">
          <img src='{% static "img/bittrex-logo.png" %}'  alt="bitrex">
          </a>
      </div>
  <div class="Float80L">
  Piu di 100 crypto scambiabili in<br>
  Valute di scambio
  BTC ETH USDT<br>
  Fee da 0,25% a operazione.<br>
  </div>
  <div  class="Float10L">
  <a target="_blank" id="linktesto" href="https://bittrex.com/" title="Registrazione binance">
  <img src='{% static "img/reg.png" %}' alt="bitrex">
  </a>
  </div>
  <div style="clear:left;"></div>
  </div>
<hr>
  <div style="margin:5%;">
      <div class="CenterLogo">
  <a target="_blank" id="linktesto" href="https://poloniex.com" title="Registrazione poloniex">
  <img src='{% static "img/poloniex.png" %}' alt="poloniex">
  </a>
  </div>
  <div class="Float80L">
   Più di 100 cryptocurrency <br>
   Valute di scambio BTC XMR ETH USDT <br>
   Fee variabili da 0,15% a 0,25%.<br>
  </div>
  <div  class="Float10L">
  <a target="_blank" id="linktesto" href="https://poloniex.com" title="Registrazione poloniex">
  <img src='{% static "img/reg.png" %}' alt="poloniex">
  </a>
  </div>
  <div style="clear:left;"></div>
  </div>
</div>

<br>

<hr>
<h1 align="center">Wallet software</h1>
<div class="BordRad">
<div style="margin:5%"><p>
  Wallet per ogni crypto. </p>

<a id="linktesto" target="_blank" href="https://electrum.org/#download">
<div id="DivIco">
<div class="Dico">Wallet BTC<br>Electrum<br>Blockchain<br>NO locale</div>
<div class="ico"><img src="https://bitcoin.org/img/icons/opengraph.png" alt="Wallet Bitcoin"></div>
</div>
</a>

<a id="linktesto" target="_blank" href="https://z.cash/support/getting-started.html">
<div id="DivIco">
<div class="Dico">Wallet ZEC<br>Sito Ufficiale<br>Blockchain locale</div>
<div class="ico"><img src="http://zcashfaucet.info/view/images/logo.png" alt="Wallet Zetacash"></div>
</div>
</a>

<a id="linktesto" target="_blank" href="https://www.dash.org/get-dash/">
<div id="DivIco">
<div class="Dico">Wallet Dash<br>Sito Ufficiale<br>Blockchain locale</div>
<div class="ico"><img src='{% static "img/dashsss.png" %}' alt="wallet dash"></div>
</div>
</a>

<a id="linktesto" target="_blank" href="https://www.ethereum.org/">
<div id="DivIco">
<div class="Dico">Wallet ETH<br>Sito Ufficiale<br>Blockchain locale</div>
<div class="ico"><img src='{% static "img/eth.png" %}' alt="ETH wallet"></div>
</div>
</a>

<a id="linktesto" target="_blank" href="https://peercoin.net/download">
<div id="DivIco">
<div class="Dico">Wallet PPC<br>Sito Ufficiale<br>Blockchain locale</div>
<div class="ico"><img src='{% static "img/ppc.png" %}' alt="pcc wallet"></div>
</div>
</a>

<a id="linktesto" target="_blank" href="https://electrum-ltc.org/">
<div id="DivIco">
<div class="Dico">Wallet LTC<br>Electrum<br>Blockchain<br>NO locale</div>
<div class="ico"><img src='{% static "img/LTC.png" %}' alt="LTC wallet"></div>
</div>
</a>

<a id="linktesto"  target="_blank" href="https://bitcore.cc/eco-system/">
<div id="DivIco">
<div class="Dico">Wallet BTX<br>Sito Ufficiale<br>Blockchain locale</div>
<div class="ico"><img src='{% static "img/btx.png" %}' alt="Bitcore wallet"></div>
</div>
</a>

<a id="linktesto" target="_blank" href="http://blackcoin.co/">
<div id="DivIco">
<div class="Dico">Wallet BLK<br>Sito Ufficiale<br>Blockchain locale</div>
<div class="ico"><img src="https://faucethub.io/assets/img/coins/BLK.png" alt="Wallet Blackcoin" ></div>
</div>
</a>
<div style="clear:left;"></div>

</div>
</div>
<div class="BordRad"><div class="contenitore">
<a target="_blank" href="https://www.ledgerwallet.com/r/5f45"><h1 align="center">Hardware Wallet</h1></a>
<a target="_blank" href="https://www.ledgerwallet.com/r/5f45"><h2 align="center">Ledger Nano S</h2></a>.<br><br><p>Questo è il metodo più sicuro per tenere le vostre crypto .Infatti avremo a disposizione con l'acquisto di un hardware (pennetta USB) di detenere off line i nostri averi .Di hardware oltre la Ledger ,che troverete il link nel banner sotto , ne esistono di altri modelli e tipi che troverete in <a href="https://en.bitcoin.it/wiki/Hardware_wallet" >questo link della Wiki </a> dove si raccolgono un vasta gamma di prodotti che potrete analizzare in base ai vostri gusti.</p>
<div align="center"><a target="_blank" href="https://www.ledgerwallet.com/r/5f45">
<img class="contimmage" src="https://usethebitcoin.com/wp-content/uploads/2017/11/NANOS.png" ></a>
</div></div>
</div>
<hr>
<br>
A questo punto si ha tutto l'occorrente per iniziare investendo uno vostra quota a piacimento.</p>
{% endblock %}
